<?php
/**
 * Created by PhpStorm.
 * User: Stefano "Yoghi" Tamagnini
 * Date: 21/09/15 - 21:41
 *
 */

return [
    'uploads_dir' => __DIR__ . '/uploads',
    'twitter_consumer_key 		' => '',
    'twitter_consumer_secret 	' => '',
    'twitter_access_token 		' => '',
    'twitter_access_secret 		' => '',
    'twitter_hashtag_search' => '',
    'imap_server 				' => '',
    'imap_port 					' => '',
    'imap_protocol 				' => '',
    'imap_mail 					' => '',
    'imap_password 				' => '',
    'databases' => [
        'default' => [
            'driver' => '',
            'host' => '',
            'database' => '',
            'username' => '',
            'password' => '',
            'charset' => '',
            'collation' => '',
            'prefix' => ''
        ],
        'testing' => [
            'driver' => '',
            'host' => '',
            'database' => '',
            'username' => '',
            'password' => '',
            'charset' => '',
            'collation' => '',
            'prefix' => ''
        ]
    ]
];

?>