html, body {
        height: 100%;
}

body {
        background: #c0e5ff;
        margin: 0;
}

#content-container {
        max-width: 600px; */
}

#content {
        background: #c0e5ff url(../bg.jpg) no-repeat top left;
        background-repeat: no-repeat;
	height: 100%;
        padding: 50px 20px;
        text-align: left;
        color: #555;
}


.affix {
	top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 70px;
}

.img-attached {
	width: 300px;
}

@font-face {
font-family: Humanist;
src: url('font/Humanist 521 Light BT.ttf');
}

@font-face {
font-family: Humanist-Bold;
src: url('font/Humanist 521 Bold Condensed BT.ttf');
}

#progress-load-contents{
 	position: absolute;
top: 80px;

left:10%;
right:10%;

margin-left: auto;
margin-right: auto;
max-width: 600px;
}

body {
	font-family : Humanist;
}

li > p {
	font-size:35pt;
}


.hashtag-container {
	font-size: 18px;
}

.label {
	font-size: 10pt;
	margin: 5px;
}

nav {
	font-family: Humanist-Bold;
}


@media all and (max-width: 768px) {
	.affix + .container-fluid {
    	padding-top: 170px;
	}

	#progress-load-contents {
	top: 180px;
	}

}
